// $primary-gradient: linear-gradient(62.57deg, #6fb2c0 0%, #1b6a7a 100%);
$primary-gradient: linear-gradient(62.57deg, rgba(41, 98, 255, 0.75) 0%, #6200EA 100%);
$primary-gradient-background: linear-gradient(63.05deg, #5881F9 -100%, rgba(88, 129, 249, 0.972006) 0%, rgba(98, 0, 234, 0.940104) 100%, #6200EA 150%);
$primary: #1b6a7a;
$color-shadow: rgba(119, 109, 160, 0.25);
$color-sidebar-background: #2f3637;
$color-sidebar-list-background: #595e5f;
$color-sidebar-border: rgba(255, 255, 255, 0.5);

$latest-course-img: var(--latest-course-img);
