@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,400&display=swap");

* {
  box-sizing: border-box;
}

:root,
textarea,
input,
select,
option {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

:root {
  --latest-course-img: url("/img/defaultTrack.jpg");
}

button:focus,
input:focus,
select:focus,
option:focus {
  outline: none;
}

html {
  font-size: 10px;
  font-family: inherit;
  font-weight: 400;
  color: #3d3d3d;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select {
  padding: 4px 15px;
  margin: 10px;
  line-height: 1.5;
  border-radius: 30px;
  border: solid 1px #dbdbdb;
  width: 170px;
}

select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%236200EA%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
::-webkit-input-placeholder,
select:invalid {
  color: #818181;
}

li {
  list-style: none;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 3px;
  position: relative;
  background: $primary-gradient-background;
  background-size: 200%;
  background-position-x: -100%;
  color: #fff;
  &:hover {
    background-position-x: -40px;
  }
  &:focus {
    background-position-x: 0;
  }
}

.btn-action {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(119, 109, 160, 0.25);
  width: 300px;
  min-height: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
}
.card-lg {
  width: 620px;
}

.card-md {
  width: 500px;
}

.card-footer {
  text-align: center;
  margin: 20px 0;
}

.play:before {
  font-icon: url("@/assets/icons/play.svg");
}
.dashboard:before {
  font-icon: url("@/assets/icons/dashboard.svg");
}
.community:before {
  font-icon: url("@/assets/icons/community.svg");
}
.help:before {
  font-icon: url("@/assets/icons/help.svg");
}
.track:before {
  font-icon: url("@/assets/icons/track.svg");
}
.search:before {
  font-icon: url("@/assets/icons/search.svg");
}
.group:before {
  font-icon: url("@/assets/icons/group.svg");
}
.rating:before {
  font-icon: url("@/assets/icons/rating.svg");
}
.filter-item:after {
  font-icon: url("@/assets/icons/arrow-down-block.svg");
}
